body {
  background-color: #f4f3f4;
}

.container {
  padding-top: 20px;
}

.questions-list {
  padding-top: 50px;
}

.question {
  background-color:white;
  border: 10px solid #f4f3f4;
  padding: 20px;
}

.question-details {
  padding-top: 50px;
}

.list-group {
  padding-bottom: 20px;
}
